<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Subscriptions</h6>
  <table class="table">
    <thead>
    <tr>
      <td>Campaign</td>
      <td>Who</td>
      <td>Created</td>
      <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <% @subscriptions.each do |subscriber| %>
      <tr>
        <td><%= link_to subscriber.campaign.name, campaign_path(subscriber.campaign) %></td>
        <td>
          <%= link_to ::Caffeinate::Webui::Name.for(subscriber.subscriber), subscription_path(subscriber) %>
        </td>
        <td>
          <%= time(subscriber.created_at) %>
        </td>
        <td>
          <%= "Ended" if subscriber.ended? %>
          <%= "Active" if subscriber.subscribed? %>
          <%= "Unsubscribed" if subscriber.unsubscribed? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <%= will_paginate @subscriptions %>
  </div>
</div>
